<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xam.Plugins.Notifier" version="3.0.1" targetFramework="net472" />
  <package id="Xamarin.Auth" version="1.7.0" targetFramework="net472" />
  <package id="Xamarin.FFImageLoading" version="2.4.11.982" targetFramework="net472" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.11.982" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.3.0.947036" targetFramework="net472" />
  <package id="Xamarin.Forms.Maps" version="4.3.0.947036" targetFramework="net472" />
</packages>